/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-May-2021, 18:47:18
    Author     : ANOYMASS
*/

#anchor{
    -fx-border-style: solid;
    -fx-border-color: #cccccc transparent transparent transparent;
    -fx-border-radius: 4px;
}